# Dependencies
/node_modules/

# Build output
/dist/
/build/

# Local environment files
.env
.env.*.local

# Vite local config
.vite

# Logs
npm-debug.log*


# IDE/editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store
Thumbs.db

