@import "tailwindcss";
/*  tailwind darkMode */
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Roboto", sans-serif;
  @apply bg-bg-dark-primary text-text-dark-primary;
}

:root {
  --autofill-bg: #e6f7ff;
  --autofill-text: #0c0e12;
}

.dark {
  --autofill-bg: #0f1114;
  --autofill-text: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--autofill-bg) inset !important;
  -webkit-text-fill-color: var(--autofill-text) !important;
}

@theme {
  /* brand color */
  --color-primary: #0883fe;

  /* background color */
  --color-bg-light-primary: #ffffff;
  --color-bg-dark-primary: #010409;

  --color-bg-light-secondary: #f5f6f8;
  --color-bg-dark-secondary: #0f1114;

  /* text color */
  --color-text-light-primary: #030712;
  --color-text-dark-primary: #ffffff;

  --color-text-light-secondary: #364153;
  --color-text-dark-secondary: #d1d5dc;

  /* border color */
  --color-border-light: #d1d5db;
  --color-border-dark: #585858;

  /* Feedback Colors */
  --color-error: #ff2c2c;
}
