@import "tailwindcss";
/*  tailwind darkMode */
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Roboto", sans-serif;
}
@theme {
  /* brand color */
  --color-primary: #0883fe;

  /* background color */
  --color-bg-light-primary: #ffffff;
  --color-bg-dark-primary: #010409;

  --color-bg-light-secondary: #f5f6f8;
  --color-bg-dark-secondary: #0f1114;

  /* text color */
  --color-text-light-primary: #030712;
  --color-text-dark-primary: #ffffff;

  --color-text-light-secondary: #364153;
  --color-text-dark-secondary: #d1d5dc;

  /* border color */
  --color-border-light: #d1d5db;
  --color-border-dark: #585858;

  /* Feedback Colors */
  --color-error: #ff2c2c;
}
